#home-header {
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}
#home-header * {
  color: rgba(81, 81, 81, 0.765);
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}
#home-header .home-header-middle {
  margin: 0 5px 0 1px;
  flex: auto;
  display: flex;
  background-color: #fff;
  border-radius: 3px;
  width: 35/50rem;
}
#home-header .home-header-middle .home-header-left {
  width: 5/10em;
  text-align: left;
  margin: 5px 13px;
  flex: initial;
}
#home-header .home-header-middle .search-container {
  border-left: #ccc solid 1px;
  padding: 5px;
  flex: auto;
}
#home-header .home-header-middle .search-container i {
  color: #ccc !important;
}
#home-header .home-header-middle .search-container input {
  font-size: 14px !important;
  font-weight: normal;
  border: none;
}
#home-header .home-header-right {
  width: 15/50rem;
  margin: 5px 0;
  margin-right: 5px;
  text-align: right;
  flex: initial;
}
#home-header .home-header-right i {
  font-size: 18px !important;
}
